<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="TransactionProcessing_ICwsTransactionProcessing">
          <security mode="Transport" />
        </binding>
        <binding name="ServiceInfoProcessing_ICWSServiceInformation">
          <security mode="Transport" />
        </binding>
        <binding name="TansactionManagement_ITMSOperations" maxBufferPoolSize="20000000"
          maxBufferSize="20000000" maxReceivedMessageSize="20000000">
          <readerQuotas maxDepth="32" maxStringContentLength="200000000"
            maxArrayLength="200000000" />
          <security mode="Transport" />
        </binding>
      </basicHttpBinding>
    </bindings>
    <client>
      <endpoint address="https://api.cert.nabcommerce.com/2.0.18/Txn"
        binding="basicHttpBinding" bindingConfiguration="TransactionProcessing_ICwsTransactionProcessing"
        contract="NabVelocity.Txn.ICwsTransactionProcessing"
        name="TransactionProcessing_ICwsTransactionProcessing" />
      <endpoint address="https://api.cert.nabcommerce.com/2.0.18/SvcInfo"
        binding="basicHttpBinding" bindingConfiguration="ServiceInfoProcessing_ICWSServiceInformation"
        contract="NabVelocity.Svc.ICWSServiceInformation"
        name="ServiceInfoProcessing_ICWSServiceInformation" />
      <endpoint address="https://api.cert.nabcommerce.com/2.0.18/DataServices"
        binding="basicHttpBinding" bindingConfiguration="TansactionManagement_ITMSOperations"
        contract="NabVelocity.Tms.ITMSOperations"
        name="TansactionManagement_ITMSOperations" />
    </client>
  </system.serviceModel>
</configuration>